:root {
    /* colors */
    --brightblue: #F4F7FF;
    --red: #F0B5B5;
    --yellow: #F0E195;
    --darkgrey: #202020;
    --brightgrey: #E9E9E9;
    
    /* width */
    --maxwidth: 1280px;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--brightblue);
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    font-size: 18px; 
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 320px;
}

/* typography and spacing */

h1 {
    color: #0B0B0B;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3em;
}

p {
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.text-space{
    margin: 0 0 0.2em 0;
}

.object-space{
    margin: 0 0 1em 0;
}

.phone-space{
    margin: 0 0 1em 0;
}

.flex-textblock {
    display: flex;
    justify-content: center;
}

.small-textblock {
    width: 85%;
}

/* navigation */

.topnav {
    font-size: 16px;
    overflow: hidden;
    width: 100%;
    height: 70px;
    background: #0B0B0B;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
  }

.topnav-padding {
    width: 80%;
    max-width: var(--maxwidth);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    min-width: 20%;
    display: flex;
    justify-content: flex-start;
}

.nav-right {
    min-width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topnav-logo {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding-right: 16px;
    align-items: center;
}

.nav-element {
    display: block;
    color: var(--brightgrey);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.language-switch {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.language-style {
    color: var(--brightgrey);
    text-decoration: none;
}

.nav-right a:hover {
    color: var(--red);
  }

/* hamburger menu icon */
.icon {
    display: none;
    width: 35px;
}

/* architecture sections */

.container-fluid {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.row-padding {
    width: 80%;
    max-width: 1280px; 
    padding: 6% 0;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

/* Header */

.row-header {
    height: 820px;
    width: 80%; /*Globale Breite der Sektionen + NAV*/
    max-width: var(--maxwidth);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: wrap;
    margin-top: 70px; /*Ausgleich Navigation*/
    padding-top: 50px; 
    padding-bottom: 4%; /*Globales Padding zwischen Sektionen*/
}

.headline-wrapper {
    order: 1;
    text-align: left;
    justify-content: left;
    padding-bottom: 40px;
}

.header-image-wrapper {
    order: 3;
    margin-bottom: 5%;
    text-align: right;
    justify-content: flex-end;
    z-index: 1;
}

.header-image{
    width: 375px;
}

.CTA-wrapper {
    order: 2;
}

/* CTA-button */

button {
    padding: 15px 34px;
    font-size: 23px;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-decoration: none; 
    border-style: none;
    transition: 0.3s;
}

.button-nav {
    padding: 12px 25px;
    font-size: 16px;
}

.button-red {
    background: var(--red); 
    color: var(--darkgrey); 
}

.button-red:hover {
    background: var(--yellow);
    color: var(--darkgrey));
    cursor: pointer;
}

/* download-button*/

.download-button {
    height: 50px;
}

/* close-button*/

.close-button {
    width: 25px;
    position: absolute;
    right: 20px;
    top: 20px;
}

/* modal download pop up */

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 3;
}

.dark-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
}

.content-wrapper {
    width: 60%;
    position: absolute;
    background-color: var(--red);
    border-radius: 1em;  
    text-align: left;
    padding: 5%;
}

.modal-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* End of modal download pop up*/ 

.advantage-spacing {
    margin: 0 1em;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.advantage-image {
    width: 250px; 
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

/* footer*/

footer {
    background: #0B0B0B;
}

.footer-wrapper {
    font-size: 14px;
    display: flex;
    justify-content: center;
    height: 100px;
    align-content: center;
}

.law-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-element {
    display: flex;
    color: #aaa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.footer-element:hover {
    color: var(--red);
}

.row-imprint {
    max-width: 1000px;
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.section-brightblue {
    background: var(--brightblue);
    margin-top: 70px;
}

.section-yellow {
    background: var(--yellow);
    margin-top: 70px;
}

.section-white {
    background: #fff;
}

.col-6 {
    flex: 0 0 40%; /*flex für mozilla und safari*/
    max-width: 40%;
    text-align: left;
}

.margin-right {
    margin-right: 10%;
}

.text-left {
    text-align: left;
    align-items: flex-start;
}

.link {
    color: var(--red);
    text-decoration: none;
}

/* responsiv design*/

@media screen and (min-width: 1440px) {
    
    .row-header {
    height: 550px;
    }
    
    .header-image{
        width: 355px;
    }
    
    h1 {
    font-size: 50px;
    line-height: 1.3em;
    }
}

@media screen and (max-width: 1440px) {
    
    .row-header {
    height: 460px;
    }
    
    .header-image{
        width: 300px;
    } 
    
    h1 {
    font-size: 40px;
    line-height: 1.3em;
    }
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 18px;
    }
    
    h1 {
        font-size: 40px;
    } 
    
    h2 {
        font-size: 23px;
    }
    
    .row-header {
        height: 410px;
    }
    
    .header-image{
        width: 260px;
    }

    .slick-slider .items img {
        width: 250px;
    }
}

@media screen and (max-width: 980px) {
    body{
        font-size: 18px;
    }
    
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    p {
        font-size: 15px;
    }
    
    .topnav {
        font-size: 14px;
    }
    
     .row-header {
        height: 370px;
    }
    
     .header-image{
        width: 230px;
    }
    
}

/* Eigenschaften der Navigation unter 900 Pixel */
@media screen and (max-width: 900px) {
    
    .topnav .nav-left {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .topnav .nav-right {
        display: none;
    }
    
    .topnav .icon {
        display: block;
    }
    
    .topnav.responsive {
        align-items: center;
        height: 320px;
    }
    
    .topnav.responsive .topnav-padding {
        display: block;
    }
    
    .topnav.responsive .nav-right {
        display: flex; 
        flex-direction: column;
    }
}

/* Die ganze Seite verwandelt sich unter 768 pixel in Hochformat*/
@media screen and (max-width: 768px) {

    
    body{
        font-size: 18px;
    }

    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 23px;
    }
    
    p {
        font-size: 18px;
    }
    
    .headline-wrapper {
        order: 1;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }
    
    .headline-wrapper-icon{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .header-collapse { 
        margin: 0 0;
        padding-bottom: 4%;
        padding-top: 4%;
    }
    
    .phone-space{
        margin: 0 0 0 0;
    }
    
    .col-m-12{
        flex: 0 0 100%;
        max-width: 100%;
    }    
    
    .header-image-wrapper {
        order: 2;
    }
    
    .CTA-wrapper {
        order: 3;
    }
    
    .row-header {
        height: 100%;
        margin-top: 70px; /*Ausgleich Navigation*/
        padding-top: 0px; 
        padding-bottom: 10%; 
        align-items: center;
        text-align: center;
    }
    
   .row-padding {
        width: 80%;
        max-width: 1280px; 
        padding: 6% 0;
    }  
    
    .advantage-spacing {
        margin: 2em 5em;
    }
    
    .slick-slider .items img {
        width: 180px;
    }
    
    .block-element {
        display: block;
    }
    
    .footer-wrapper {
        display: block; 
    }
    
    .col-6 {
    flex: 0 0 100%; /*flex für mozilla und safari*/
    max-width: 100%;
    text-align: left;
}
} 

@media screen and (max-width: 640px) {
    body{
        font-size: 16px;
    }
    
    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    p {
        font-size: 14px;
    }
    
    .header-image-wrapper {
        margin-bottom: 10%;
    }
    
    .header-image{
        width: 230px;
    }
    
    .slick-slider .items img {
        width: 200px;
        height: 100%;
    }
    
    .row-padding {
        padding: 8% 0;
    }
    
    .CTA-wrapper {
        margin-bottom: 3%;}

    .advantage-spacing {
        margin: 2em 2em;
    }
}

@media screen and (max-width: 380px) {
    body{
        font-size: 14px;
    }
    
    h1 {
        font-size: 25px;
    }
    
    .header-image-wrapper {
        margin-bottom: 10%;
    }
    
    .header-image{
        width: 230px;
    }
    
    .row-padding {
        padding: 10% 0;
    }
    
    .slick-slider .items img {
        width: 100px;
        height: 100%;
    }
    
    .CTA-wrapper {
        margin-bottom: 3%;}

    .advantage-spacing {
        margin: 2em 2em;
    }
}